# NF-e Configurations
CERT_PATH=./certificado.pfx
CERT_PASSWORD=sua_senha_aqui
NFE_AMBIENTE=homologacao # ou producao
# Company Info (needed for Key generation)
# These should match your prisma Setting keys if you want them auto-loaded
company_cnpj=00.000.000/0001-00
company_uf=52
